 * {

    margin: 0;
    padding: 0;
 }
 
 
 li , a {

    text-decoration: none;
 }

 li {
     display: inline;
     margin-left: 30px;
 }
.logo{
    display: inline-flex;
    margin-left: 30px;
 
}

.container {
    position: sticky;
    width: 100%;
    background-color: rosybrown;
    display: flex;
    display: inline-block;
    text-decoration: none;
    top: 0;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    padding-top: 20px;


}